.format-quote ::selection {
	background-color: #ccc;
	color:            #000;
}

label {
	line-height: 170%;
}

.wp-block-video,
.wp-block-image {
	margin-bottom: 1.5em;
}

.wp-block-image img,
.wp-block-image picture,
.wp-block-video video {
	border-radius: 5px
}

.wp-block-image figcaption,
.wp-block-video figcaption {
	font-size:  small;
	text-align: center;
}

#old {
	background-color: #226997;
	border-radius:    5px;
	box-shadow:       0 4px 6px #aaa;
	color:            #fff;
	font-size:        smaller;
	font-style:       italic;
	margin-bottom:    2.5em;
	padding:          1em;
}

#old a {
	color:           #fff;
	text-decoration: underline;
}

#webmention-form {
	padding: 0 8% 8% 8%;
}

#webmention-form:before {
	content:        "Respond on Your Own Site?";
	display:        block;
	font-size:      x-large;
	font-weight:    bold;
	padding-bottom: 1em;
}

#webmention-form > * {
	margin-bottom: 1.5em;
}

#webmention-form label {
	line-height: 170%; /* Match the default paragraph line-height */
}

#webmention-form input {
	background: #fafafa;
	border:     1px solid #eee;
	padding:    1em;
	width:      100%;
}

#webmention-form input:focus {
	background-color: #eee;
	color:            #444;
	outline:          none;
}

.bookmarks h3,
.likes h3,
.mentions h3,
.read h3,
.replies h3,
.reposts h3 {
	font-size:     x-large;
	font-weight:   bold;
	margin-bottom: 1em;
}

#webmention-form input[type="submit"] {
	background:    #272f38;
	border-radius: 4px;
	border:        none;
	color:         #fff;
	display:       inline-block;
	font-family:   "Lato", sans-serif;
	font-size:     0.925rem;
	line-height:   1;
	margin-bottom: 0;
	max-width:     none;
	padding:       16px;
	width:         auto;
}

.bookmarks,
.likes,
.mentions,
.read,
.replies,
.reposts {
	padding: 0 8% 8%;
}


.bookmarks .h-card:after,
.likes .h-card:after,
.mentions .h-card:after,
.read .h-card:after,
.replies .h-card:after,
.reposts .h-card:after {
	content: ": "
}

.bookmarks .u-url:before,
.likes .u-url:before,
.mentions .u-url:before,
.read .u-url:before,
.replies .u-url:before,
.reposts .u-url:before {
	content:     "🔗 view post";
	margin-left: 1em;
}

#images {
	display:               grid;
	grid-template-columns: repeat( 1, 1fr );
}

.gallery-img {
	margin: 0 auto;
}

@media screen and (max-width: 599px) {
	#images {
		grid-template-columns: repeat( 2, 1fr );
	}
}

@media screen and (min-width: 600px) {
	#images {
		grid-template-columns: repeat( 3, 1fr );
	}
}

@media screen and (min-width: 900px) {
	#images {
		grid-template-columns: repeat( 4, 1fr );
	}
}

.footer h1.p-name {
	font-size: x-large;
	margin-bottom: 1em;
}

.footer h1.p-name a {
	color: #fff;
}

.footer h1.p-name a:hover {
	color: #fff;
}

.toolbelt-social-share {
	grid-gap: 0 !important;
	grid-template-columns: repeat( 4, auto ) !important;
}
